version: "3.9"

services:

  backend:
    image: node:20
    container_name: backend
    working_dir: /app
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./uploads:/app/uploads
    command: sh -c "npm ci || npm install; node server.js"
    

  frontend:
    image: node:20
    container_name: frontend
    working_dir: /app
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm ci || npm install; npm run dev"
    depends_on:
      - backend
